@font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/Libre-Baskerville-Bold.woff2") format("woff2"), url("./fonts/Libre-Baskerville-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/Hind-Madurai-Regular.woff2") format("woff2"), url("../fonts/Hind-Madurai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Hind Madurai";
    src: url("../fonts/Hind-Madurai-Bold.woff2") format("woff2"), url("../fonts/Hind-Madurai-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Bold.woff2") format("woff2"), url("../fonts/Lora-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}